body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.rocket-launch-wrapper{
    background-image: url("./background.jpeg");
    background-size: cover;
    border-radius: 20px;
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.launch-card{
    position: relative;
    top: -20px;
    background-color: snow;
    opacity: .95;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    line-height: 25px; 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 420px;
    max-height: 500px;
    min-width: 250px;
    max-width: 300px;
    margin-left: 40px;
}

.rocket-info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(231, 17, 17);
}

hr {
    width: 90%
}

.launch-card p{
    line-height: .2em;
}

.button-wrapper{
    position: absolute;
    display: flex;
    flex-flow: wrap;
    bottom: -140px;
    left: -25px;
    width: 350px;
    min-width: 300px;
    height: 130px;
}

button {
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 45px;
}

.tests-button{
    background-color: blue;
}

.upgrade-button{
    background-color: blue;
}

.launch-button{
    position: relative;
    left: 75px;
    background-color: rgb(231, 17, 17);
}

.rocket-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.rocket-img{
    position: absolute;
    height: 300px;
    bottom: 65px;
    right: 295.5px;
    color: white;
}

.launch-pad-img{    
    position: absolute;
    bottom: 40px;
    height: 350px;
}





